<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %green(%d{HH:mm:ss.SSS}) [%.9thread] %-5level %logger{0} : %yellow(%replace(%msg){'\[(.*?)\]', '[T]'}%n) %red(%throwable)
            </pattern>
        </encoder>
    </appender>

    <appender name="AccessLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/milog.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>milog-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="AccessLog"/>
    </appender>

    <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>1</maxHistory>
        </rollingPolicy> -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <topic>fast-logs</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />

        <producerConfig>bootstrap.servers=localhost:9092</producerConfig>
        <producerConfig>acks=0</producerConfig>
        <producerConfig>linger.ms=100</producerConfig>
        <producerConfig>max.block.ms=0</producerConfig>
        <producerConfig>client.id=${HOSTNAME}-${CONTEXT_NAME}-logback-relaxed</producerConfig>
        <producerConfig>compression.type=gzip</producerConfig>
    </appender>

    <appender name="AsyncKafka" class="ch.qos.logback.classic.AsyncAppender">
        <!-- if neverBlock is set to true, the async appender discards messages when its internal queue is full -->
        <neverBlock>true</neverBlock>
        <appender-ref ref="kafkaAppender" />
    </appender>

    <logger name="reactor.netty.http.server.AccessLog" level="INFO" additivity="true">
        <appender-ref ref="Console"/>
        <appender-ref ref="Async"/>
    </logger>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="AsyncKafka"/>
    </root>
</configuration>
